/* * {
	border: 1px solid black;
} */

html {
	background-color: #EEEEEE;
}

body {
	margin: 0;
	color: #EEEEEE;
} 

.design {
	color: #FFC107;
}

.videos {
	color: #E91E63;
}

.photos {
	color: #00BCD4;
}

.home {
	color: #757575;
}

.contact {
	color: #9C27B0;
}

a {
	font-family: Lato;
	text-decoration: none;
	text-align: center;
}

h3 {
	margin: 0;
	font-size: 1.5em;
	font-family: Lato Light;
	color: #9E9E9E;

}

p {
	font-family: Lato;
	font-size: 1em;
	color: #9E9E9E;
}

iframe {
	padding-top: 10px;
}

.full {
	padding-top: 100px;
	max-width: 700px;
	margin: auto;
	font-size: 1em;
}

.800 {
	padding-top: 100px;
	max-width: 800px;
	margin: auto;
}

.title {
	font-family: Lato;
	letter-spacing: 5px;
	text-align: center;
	color: #9E9E9E;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
}

.footer {
	width: 800px;
	height: 100px;
	clear: left
}

.break {
	padding-top: 2em;
	padding-bottom: 3em;
}

#container {
	padding-top: 0;
	max-width: 800px;
	overflow: auto;
	margin: auto;
}

#photos {
	padding-top: 0;
	background-color: #EEEEEE; 
	max-width: 800px;
	overflow: auto;
	margin: auto;
}

.img_title {
	margin-top: auto;
	width: 800px;
}


img {
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

img:hover {
	opacity: 0.4;
    filter: alpha(opacity=40);

}

iframe {
	float: center;
	margin: auto;
}




.dropbtn {
    margin-top: 100px;
    background-color: #EEEEEE;
    padding: 0px;
    color: #424242;
    width: 800px;
    height: 200px;
    font-family: Lato Light;
	letter-spacing: .25em;
    font-size: 2em;
    border: 1px solid #424242;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    font-size: 1em;
    position: absolute;
    background-color: #EEEEEE;
    width: 800px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #616161;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #F5F5F5;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #EEEEEE;
}
</style>
