 /** {
	border: 1px solid black;
} */

html {
	background-color: #EEEEEE;
}

body {
	margin: 0;
	color: #ffffff;
} 

h3 {
	font-family: Lato;
	color: #D81B60;
	margin-bottom: 1em;
}

p {
	font-size: 1em;
	font-family: Lato;
	margin-top: 1em;
	color: #9E9E9E;
}

#title {
	padding-top: 3em;
	margin-top: 0;
	text-align: center;
	color: #9E9E9E;
	font-size: 2em;
	text-decoration: none;
}

#header {
	background-color: #424242;
	width: 50em;
	height: 15em;
	font-family: Lato;
	border-bottom: 2px solid #D81B60;
}

.nav {
	display: inline-block;
	width: 10em;
	height: 10em;
	background-color: #F5F5F5;
	text-align: center;
	border-bottom: 2px solid #E0E0E0;
	text-decoration: none;
	-webkit-transition: border-bottom .5s;
	transition: border-bottom .5s;
	transition: background-color .25s;
}

.nav p {
	margin-top: 4em;
}

.nav:hover {
	border-bottom: 2px solid #D81B60;
	background-color: #FAFAFA
}

.nav:active {
	background-color: #EEEEEE;
}

#container {
	padding-top: 0;
	background-color: #F5F5F5; 
	max-width: 50em;
	height: 150vh;
	margin: auto;
}

#photo_single {
	max-width: 600px;
	margin-left: 100px;
	margin-top: 0;
	display: inline-block;

}

#photo_double {
	max-width: 600px;
	margin-left: 100px;
	margin-top: 50px;
}

.photo_full {
	text-align: center;
	height: 200px;
	width: 600px;
	background-color: #EEEEEE;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	/*border-bottom: 2px solid #424242;*/
	border-left: 2px Solid #D81B60;
	
}

#photo_b {
	max-width: 275px;
	display: inline-block;
}

#photo_c {
	max-width: 275px;
	display: inline-block;
	margin-left: 42px;
}

img {
	transition: opacity .5s;

}

img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#photo_small {
	height: 200px;
	width: 275px;
	background-color: #EEEEEE;
	display: inline-block;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	border-bottom: 2px solid #424242;

}
