 /** {
	border: 1px solid black;
} */

html {
	background-color: #EEEEEE;
}

body {
	margin: 0;
	color: #ffffff;
} 

.design {
	color: #FFC107;
}

.videos {
	color: #E91E63;
}

.photos {
	color: #00BCD4;
}

.home {
	color: #F5F5F5;
}

.contact {
	color: #9C27B0;
}

a {
	text-decoration: none;
}

p {
	font-family: Lato;
	margin-top: 10px;
	color: #9E9E9E;
}

#title {
	font-family: Lato;
	letter-spacing: 5px;
	padding-top: 120px;
	padding-left: 300px;
	margin-top: 0px;
	text-align: left;
	color: #9E9E9E;
	font-size: 20px;
	text-decoration: none;
}

#header {
	background-color: #424242;
	width: 800px;
	height: 250px;
	border-bottom: 4px solid #757575;
	text-decoration: none;
}

.nav {
	display: inline-block;
	width: 160px;
	height: 160px;
	background-color: #F5F5F5;
	text-align: center;
	border-bottom: 2px solid #E0E0E0;
	text-decoration: none;
/*	-webkit-transition: border-bottom .5s;
	transition: border-bottom .5s;*/
}

#nav_home {
    border-bottom: 2px solid #424242;
}

#nav_design {
    border-bottom: 2px solid #FFC107;
}

#nav_videos {
    border-bottom: 2px solid #E91E63;
}

#nav_photos {
    border-bottom: 2px solid #00BCD4;
}

#nav_contact {
	border-bottom: 2px solid #9C27B0;
}

.nav p {
	margin-top: 70px;
}

.nav:hover {
	border-bottom: 2px solid #757575;
	background-color: #EEEEEE;
}

.nav:active {
	background-color: #EEEEEE;
}

#container {
	padding-top: 0;
	background-color: #F5F5F5; 
	max-width: 50em;
	height: 100%;
	margin: auto;
}

#photo_single {
	max-width: 600px;
	margin-top: 100px;
	margin-left: 100px;
	display: inline-block;

}

#photo_single h3 {
	font-family: Lato light;
	color: #FFC107;
	margin-bottom: 50px;
}

.photo_full {
	text-align: center;
	height: 200px;
	width: 600px;
	background-color: #EEEEEE;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	/*border-bottom: 2px solid #424242;*/
	border-left: 2px Solid #FFC107;
	
}

.photo_full img {
	width: 600px;
	height: 200px;
}

#photo_double {
	max-width: 600px;
	margin-left: 100px;
	margin-top: 50px;
}

.photo_half {
	height: 200px;
	width: 275px;
	background-color: #EEEEEE;

}

.photo_half:hover {
	background-color: #F5F5F5;
}

#photo_left {
	max-width: 275px;
	display: inline-block;
}

#photo_right {
	max-width: 275px;
	display: inline-block;

}

img {
	transition: opacity .5s;

}

img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}


