 /** {
	border: 1px solid black;
} */

html {
	background-color: #EEEEEE;
}

body {
	margin: 0;
	color: #ffffff;
} 

h3 {
	font-family: Lato;
	color: #FFC107;
	margin-bottom: 10px;
}

p {
	font-family: Lato;
	margin-top: 10px;
	color: #9E9E9E;
}

#title {
	padding-top: 120px;
	margin-top: 0;
	text-align: center;
	color: #9E9E9E;
	font-size: 20px;
	text-decoration: none;
}

#header {
	background-color: #424242;
	width: 800px;
	height: 250px;
	font-family: Lato;
	border-bottom: 4px solid #757575;
}

.nav {
	display: inline-block;
	width: 160px;
	height: 160px;
	background-color: #F5F5F5;
	text-align: center;
	border-bottom: 2px solid #E0E0E0;
	text-decoration: none;
/*	-webkit-transition: border-bottom .5s;
	transition: border-bottom .5s;*/
}

.nav p {
	margin-top: 70px;
}

.nav:hover {
	border-bottom: 2px solid #D81B60;
	background-color: #EEEEEE;
}

.nav:active {
	background-color: #EEEEEE;
}

#container {
	padding-top: 0;
	background-color: #F5F5F5; 
	max-width: 50em;
	height: 150vh;
	margin: auto;
}

#photo_single {
	max-width: 600px;
	margin-left: 100px;
	margin-top: 50px;
	display: inline-block;

}

#photo_double {
	max-width: 600px;
	margin-left: 100px;
	margin-top: 50px;
}

.photo_full {
	text-align: center;
	height: 200px;
	width: 600px;
	background-color: #EEEEEE;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
	/*border-bottom: 2px solid #424242;*/
	border-left: 2px Solid #FFC107;
	
}

#vespa {
	width: 600px;
	height: 200px;
}

.photo_half {
	height: 200px;
	width: 275px;
	background-color: #EEEEEE;
	display: inline-block;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;

}

.photo_half:hover {
	background-color: #F5F5F5;
}

#photo_b {
	max-width: 275px;
	display: inline-block;
}

#photo_c {
	max-width: 275px;
	display: inline-block;
	margin-left: 42px;
}

img {
	transition: opacity .5s;

}

img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}


